$base-color: rgb(219, 0, 120);

.fruitselector {
    &__title {
        color: $base-color;
        margin-top: 80px;
    }
    &__select {
        display: flex;
        flex-direction: column;
        margin: 5%;
      }
    &__selectButton {
        background-color: rgb(77, 0, 42);
        color: white;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        border-style: none;
      }
    &__selectButton:hover {
        background-color: $base-color;
    }
    &__startbutton {
        background-color: $base-color;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        border-style: none;
    }
    &__startbutton:hover {
        background-color: rgb(255, 69, 172);
    }
}

.fruitcontainer {
    display: flex;
    justify-content: center;
  }