@keyframes move-across-screen {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes rotate-fruits {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fruit {
  height: 100%;

  &__container {
    position: absolute;
    width: 100%;
    left: 0;
    transform: translateX(-100px);
    animation: move-across-screen 5s;
    // animation-iteration-count: 3;
    animation-timing-function: linear;
  }

  &__image {
    width: 100px;
    display: block;
    animation: rotate-fruits 1s infinite;
  }
}

