@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import 'styles/theme.scss';
@import 'styles/App.scss';
@import 'styles/FruitSelector.scss';
@import 'styles/fruit.scss';
@import 'styles/timeAndCount.scss';
@import 'styles/gamePlay.scss';

body {
  font-family: 'Bevan', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $BRAND_COLOR;
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}
#root {
  max-height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

