@import 'styles/theme.scss';

.timer,
.count {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.count {
  top: 75px;
  &__button {
    background-color: $base-color;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border-style: none;
  }
  &__button:hover {
    background-color: rgb(255, 69, 172);
  }
  &__fruitTypeCounted {
  color: $base-color;
  font-size: 1.5em;
  padding: 20px;
  }
}

.timer {
  top: 25px;
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
}