@import 'styles/theme.scss';

.timer,
.count {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.count {
  top: 75px;
  &__fruitTypeCounted {
    color: $base-color;
    padding: 20px;
  }
  
  &__totalCounted {
    font-size: 3em;
  }
}

.timer {
  top: 25px;
  &__number {
    color: $base-color;;
  }
}